@media all {
	@page { 
		/*size: 21cm 14cm;*/
		margin: 0;
	}
	
	html {
		margin: 0;
	}

	body {
/*		margin-top: 0em !important;
*/	   /* margin: 0 !important;*/
	    /*padding: 0 !important;*/
		padding: 0.5cm !important;
		font-size: 14px;
	}

	h1 {
		margin: 0;
		padding: 0;
		font-size: 20px;
		text-align: center;
	}

	table {
	    width: 100%;
	    border-collapse: collapse;
/*	    page-break-inside : avoid;
*/	}

	table, th, td {
	    border: 1px solid black;
	    text-align: center;
	}

	th {
		padding: 0.1em 0.25em;
		text-overflow: ellipsis;
		white-space: nowrap		
	}

	td {
		/*padding: 0.1em;*/
		padding-left:0.1em;
		text-overflow: ellipsis;
		white-space: nowrap
	}

	.header>span {
		display: inline-block;
		width: 33.3333333%;
		margin: 0;
		padding: 0;
		float: left;
		margin-top: 0.25em;
	}

	.footer>span {
		display: inline-block;
		width: 25%;
		margin: 0;
		padding: 0;
		float: left;
	}

	.text-left {
		text-align: left;
	}

	.text-right {
		text-align: right;
	}

	.rproductName {
		width: 32%;
	}

	.rbarcode {
		width: 18%;
	}

	.font-big {
		font-size: 1em;
		line-height: 2em;
	}
}