<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%- stylesheet('sale') %>
</head>
<body>
	<h1><%=title %></h1>
	<div class="header">
		<span>客户名称<%= order.customerName %></span>
		<span>客户电话<%= order.contact %></span>
		<span>单号<%= order.code %></span>
	</div>
	<div class="header">
		<span>送货地址<%= order.address %></span>
		<span>出货仓<%= order.storehouseName %></span>
		<span>开单日期<%= order.createdAt %></span>
	</div>
	<table>
		<thead>
			<tr>
				<th>货品名称</th>
				<th>条形码</th>
				<th>规格</th>
				<th>单位</th>
				<th>数量</th>
				<th>单价</th>
				<th>金额</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			<% order.items.forEach(function(item) { %>
			<tr>
				<th><%= item.productName %></th>
				<th><%= item.barcode %></th>
				<th><%= item.spec %> </th>
				<th><%= item.unitName %></th>
				<th><%= item.quantity %></th>
				<th><%= item.price %> </th>
				<th class="text-right"><%= item.quantity * item.price %></th>
				<th><%= item.memo %></th>
			</tr>
			<% }) %>			
		</tbody>
	</table>
	<div class="footer">
		<span>
			客户签名：
		</span>
		<span>
			仓管员：
		</span>
		<span>
			送货员：
		</span>
		<span>
			开单员: <%= order.operatorName %>
		</span>
	</div>
</body>
</html>
