<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%- stylesheet('sale') %>
</head>
<body>
	<h1><%=title %></h1>
	<div class="header">
		<span>客户名称：&nbsp;&nbsp;&nbsp;&nbsp;<%= order.customerName %></span>
		<span>客户电话：&nbsp;&nbsp;&nbsp;&nbsp;<%= order.contact %></span>
		<span>单号：&nbsp;&nbsp;&nbsp;&nbsp;<%= order.code %></span>
	</div>
	<div class="header">
		<span>送货地址：&nbsp;&nbsp;&nbsp;&nbsp;<%= order.address %></span>
		<span>出货仓：&nbsp;&nbsp;&nbsp;&nbsp;<%= order.storehouseName %></span>
		<span>开单日期：&nbsp;&nbsp;&nbsp;&nbsp;<%= date(order.createdAt) %></span>
	</div>
	<table>
		<thead>
			<tr>
				<th>货品名称</th>
				<th>条形码</th>
				<th>规格</th>
				<th>单位</th>
				<th>数量</th>
				<th>单价</th>
				<th>金额</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			<% order.items.forEach(function(item) { %>
			<tr>
				<td class="rproductName text-left"><%= item.productName %></td>
				<td class="rbarcode"><%= item.barcode %></td>
				<td class="rspec text-left"><%= item.spec %> </td>
				<td class="runit"><%= item.unitName %></td>
				<td class="rquantity"><%= item.quantity %></td>
				<td class="rprice"><%= toCurrency(item.price) %> </td>
				<td class="ramount text-right"><%= toCurrency(item.quantity * item.price) %></td>
				<td class="rmemo"><%= item.memo %></td>
			</tr>
			<% }) %>
			<% order.gifts.forEach(function(item) { %>
			<tr>
				<td class="rproductName text-left"><%= item.productName %></td>
				<td class="rbarcode"><%= item.barcode %></td>
				<td class="rspec text-left"><%= item.spec %> </td>
				<td class="runit"><%= item.unitName %></td>
				<td class="rquantity"><%= item.quantity %></td>
				<td class="rprice"></td>	
				<td class="ramount text-right"></td>
				<td class="rmemo"><%= item.memo %></td>
			</tr>
			<% }) %>
			<tr class="font-big">
				<th>合计</th>
				<th></th>
				<th colspan="2"></th>
				<th><%= currency(
							order.items.reduce((s, it) => s+=it.quantity,0) 
							+
							order.gifts.reduce((s,it) => s+it.quantity,0)
							)%>
				</th>
				<th></th>
				<th class="text-right"><%= toCurrency(order.total) %></th>
				<th></th>
			</tr>
			<tr>
				<th >合计(人民币大写)</th>
<!-- 				<th colspan="7" class="text-left"><%= chCurrency(order.totalAmount) %></th>-->			
				<th colspan="7" class="text-left"><b><%= chCurrency(order.total) %></b></th>
 			</tr>
			<tr >
				<th colspan="2" class="text-left">名称：<%= corpname %></th>
				<th>地址、电话</th>
				<th colspan="5" class="text-left"><%= corpaddress %></th>
			</tr>			
		</tbody>
		<tfoot>

		</tfoot>
	</table>
	<div class="footer">
		<span>
			客户签名：
		</span>
		<span>
			仓管员：
		</span>
		<span>
			送货员：
		</span>
		<span>
			开单员: <%= order.operatorName %>
		</span>
	</div>
</body>
</html>
