
* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #C4E0F9;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-Brand {
  background-image: url(/DataSync-Logo.png);
  background-repeat: no-repeat;
  background-position: 50% -75px;
  background-size: 100px 100px;
  height: 30px;
  text-indent: -20000px;
}

.App-intro {
  font-size: large;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.App-toolbar {
  display: inline-block;
  background: white;
  border: 1px #ccc solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #888;
  -webkit-box-shadow: 0px 0px 5px #888;
  box-shadow: 0px 0px 5px #888;
}

.btn-grad {
  /*padding: 5px;*/
  /*border:1px solid #CCCCCC;-webkit-box-shadow: #FEFFFF 0px 1px 1px ;-moz-box-shadow: #FEFFFF 0px 1px 1px ; box-shadow: #FEFFFF 0px 1px 1px ; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: 0px 1px 0 rgba(255,255,255,1);font-weight:bold; color: #4A4A4A;*/
  background-color: #F7F5F6; background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F5F6), to(#DDDDDD));
  background-image: -webkit-linear-gradient(top, #F7F5F6, #DDDDDD);
  background-image: -moz-linear-gradient(top, #F7F5F6, #DDDDDD);
  background-image: -ms-linear-gradient(top, #F7F5F6, #DDDDDD);
  background-image: -o-linear-gradient(top, #F7F5F6, #DDDDDD);
  background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F7F5F6, endColorstr=#DDDDDD);
}

.btn-grad:hover{
  /*border:1px solid #ADADAD;*/
  background-color: #E0E0E0; background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#BDBBBC));
  background-image: -webkit-linear-gradient(top, #E0E0E0, #BDBBBC);
  background-image: -moz-linear-gradient(top, #E0E0E0, #BDBBBC);
  background-image: -ms-linear-gradient(top, #E0E0E0, #BDBBBC);
  background-image: -o-linear-gradient(top, #E0E0E0, #BDBBBC);
  background-image: linear-gradient(to bottom, #E0E0E0, #BDBBBC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E0E0E0, endColorstr=#BDBBBC);
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0px;
  -webkit-appearance: none;
  outline: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.btn-normal {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #dbdbdb);
  background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
  background-image: -ms-linear-gradient(top, #ffffff, #dbdbdb);
  background-image: -o-linear-gradient(top, #ffffff, #dbdbdb);
  background-image: linear-gradient(to bottom, #ffffff, #dbdbdb);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  border: 0px;
  outline: none;
  color: #2e2d2e;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-normal:hover {
  background: #ebebeb;
  background-image: -webkit-linear-gradient(top, #ebebeb, #d1d1d1);
  background-image: -moz-linear-gradient(top, #ebebeb, #d1d1d1);
  background-image: -ms-linear-gradient(top, #ebebeb, #d1d1d1);
  background-image: -o-linear-gradient(top, #ebebeb, #d1d1d1);
  background-image: linear-gradient(to bottom, #ebebeb, #d1d1d1);
  text-decoration: none;
}

.commander {
  list-style: none;
  margin: 0px;
  padding: 0;
}

.commander li:first-child {
  border-left: 0px;
}

.commander li {
  border-left: 1px #ccc solid;
  display: inline-block;
}

.commander li a {
  padding: 5px 20px;
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.container-flex {
  max-width: 1024px;
  margin: auto;
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap; 
  margin-top: 20px;
}

.currency {
  text-align: right!important;
}

.saleHeader {
  list-style: none;
  padding: 0px;
}

.saleHeader li {
  width: 33.333333%;
  display: inline-block;
  text-align: left;
}

.ReactTable .rt-td {
  font-family: monospace;
  text-align: left;
}

.text-left {
  text-align: left;
  min-width: 30%;
  width: 40%;
}

.text-width {
  min-width: 25%;
  width: 30%;
}

.text-right {
  text-align: center;
  width: 10%;
}

.text-center {
  text-align: center;
  width: 10%;
}

.test-unitName {
  width: 10%;
}

.error {
  color: #DC143C; 
}

.greeter-table {
    width: 100%;
    border-collapse: collapse;
/*    table-layout:fixed;
*/}

.greeter-table, .greeter-table th, .greeter-table td {
    border: 1px solid black;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.greeter-table td {
  padding:5px;
/*  width:100%;*/
/*  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;*/
}

.greeter-table tr.double {
  border-top: 2px;
  background: rgba(255, 0, 0, 0.03);
  white-space: nowrap;
}


.greeter-table.new, .greeter-table.new th, .greeter-table.new td {
    border: 1px solid green;
}

.greeter-table.saved, .greeter-table.saved th, .greeter-table.saved td {
    border: 1px solid blue;
}

.greeter-table.printed, .greeter-table.printed th, .greeter-table.printed td {
    border: 1px solid #ccc;
}

.relative {
  position: relative;
}

.colour-demo {
  list-style: none;
  padding: 0px;
  /*float: left;*/
  margin: 15px 0;
  display: block;
  position: absolute;
  right: 0px;
}

.colour-demo li {
  float: left;
}

.new .line {
  display: inline-block;
  width: 50px;
  border: 2px solid green;
  margin: 5px;
}

.saved .line {
  display: inline-block;
  width: 50px;
  border: 2px solid blue;
  margin: 5px;
}

.printed .line {
  display: inline-block;
  width: 50px;
  border: 2px solid #ccc;
  margin: 5px; 
}


@-webkit-keyframes animate-stripes {
   0% { background-position: 100% 0px; }
   25% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   0% { background-position: 100% 0px; 
   }  
   25% { background-position: -1000px 0px; }
   100% { background-position: -200px 0px; }
}

.printProgress {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  display: block;
}

.printProgress .process-bar {
  background-color: transparent;
  border-radius: 0px;
}

.printProgress .progress-value {
  background-color: blue;

  background-image:
     -webkit-linear-gradient(45deg, 
                             transparent 33%, rgba(255, 255, 255, .99) 33%, 
                             rgba(255, 255, 255, .99) 66%, transparent 66%);

  border-radius: 0px;
  background-size: 32px 20px; 
  background-repeat: no-repeat;
  -webkit-animation: animate-stripes 2000ms linear infinite;
  animation: animate-stripes 2000ms linear infinite;  
  height: 4px;
}

.order-item {
  padding: 10px;
  margin-bottom: 20px;
}

.order-item.printed {
  color: #ccc;
}

.order-item.new:hover {
  background-color: rgba(0, 255, 0, 0.03);
}

.order-item.saved:hover {
  background-color: rgba(0, 0, 255, 0.03);
}


.toolbar {
  position: absolute;
  right: 10px;
}

.toolbar button {
  font-size: 18px;
  padding: 10px;
  display: none;
}

.order-item:hover .toolbar button {
  display: inline-block;
}

input[type="text"], input[type="password"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

select {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;  
  background: transparent;
  background-image: none;
  appearance: none;
  border-radius: 0px;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus {
  outline: none;
}

.style-1 input[type="text"], .style-1 input[type="password"], .style-1 select {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus,
.style-1 input[type="password"]:focus,
.style-1 input[type="password"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.settings-form {
  width: 400px;
  margin: auto;
  padding: 15px;
}

.settings-form input,
.settings-form select {
  margin-bottom: 15px;
}

.printList {
  flex: 1;
}

.rightSidebar {
  flex: 0 0 250px;
  text-align: left;
  padding: 30px;
  padding-top: 80px;
}

.cust-headerH1 {
  text-align: left;
  color: red;
  margin: 5px 0
}

.cust-header {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.cust-header li {
  text-align: left;
  display: inline-block;
  width: 33.3333333%;
  margin-bottom: 10px!important;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.messageGroup {
  margin-bottom: 60px;
}

.order-list {
  overflow:hidden;
  list-style: none;
  padding: 0px;
}

.order-list li {
  margin-bottom: 40px;
}

.order-title {
  text-align: left;
  border-bottom: 1px dashed #ccc;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.slidedown-enter {
  transform: translateY(-100%);
}

.slidedown-enter.slidedown-enter-active {
  transform: translateY(0%);
  transition: 400ms ease-in-out;
}

.slidedown-leave {
  transform: translateY(0%);
}

.slidedown-leave.slidedown-leave-active {
  transform: translateY(-100%);
  transition: 300ms ease-in-out;  
}

.col-6 {
  flex: 0 0 auto;
  flex-basis: 50%;
  padding: 10px;
}

.printer {
  border-radius: 5px;
  border: 1px solid #ccc;
  position: relative;
  height: 140px;
}

.printer .printer-icon {
  width: 60px;
  position: absolute;
  left: 0px;
  margin: 15px;
  font-size: 48px;
}

.printer .printer-status {
  width: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 20px;
  font-size: 38px;
  color: green;
}

.printer .printer-content {
  margin-left: 90px;
  padding: 0px;
  text-align: left;
}

.printer:hover {
  background-color: rgba(0,0,0,0.03);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
